@import url("zero.css");

.header{
    background: #8D5CF6;
    width: 1440px;
    height: 825px;
    flex-wrap: wrap;
    font-family: Montserrat;
}
.container{
    display: flex;
}
.header_title{
    margin-top: 30px;
    margin-left: 195px;
    color: white;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.1px;
    line-height: 32px;
}
.header_menu{
    margin-top: 33px;
    margin-left: 83px;
    margin-right: 21px;
    font-weight: 700;
    letter-spacing: 0.1px;
    line-height: 24px;
}
.header_log{
    flex-direction: row;
    margin-top: 19px;
    margin-left: 240px;
    padding-right: 45px;
    font-weight: 700;
    letter-spacing: 0.2px;
    line-height: 22px;
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 320px;
    color: white;
}
.footer{
    display: flex;
    flex-direction: row;
    height: 74px;
}
.text{
    margin-left: 195px;
    margin-top: 25px;
    color: #737373;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 24px;
}
.images{
    margin-top: 25px;
    margin-left: 516.5px;
}
.but{
    background: url("../ascess/Vector.png") 95px 20px no-repeat;
    background-color:  #FF7B52;
    width: 137px;
    height: 52px;
    padding: 15px 25px;
    padding-right: 52px;
    border-radius: 5px;
    color: white;
    margin-left: 70px;
    font-size: 14px;
    font-weight: 700;
}
.link{
    color:white;
    margin-left: 21px;
    font-size: 14px;
}
.main{
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0,2px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0.2px;
}
.main2{
    font-size: 20px;
    margin-top: 40px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.2px;
}
.but2{
    background: #FF7B52;
    padding: 15px 40px;
    border-radius: 5px;
    color: white;
    margin: 40px 10px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.2px;
}
.but3{
    background: #8D5CF6;
    border: 1px solid #FF7B52;
    color: white;
    border-radius: 5px;
    padding: 15px 40px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.2px;
}
.img{
    padding-left: 22px;
}

/* Block number 2 */

.background_bl2{
    background: #26335D;
    width: 1440px;
    height: 768px;
    font-family: Montserrat;
}
.container_bl2{
    display: flex;
    width: 1050px;
    height: 768px;
    padding: 112px 0px;
}
.text_bl2{
    padding-left: 195px;
    padding-top:  112px;
    color: white;
}
.pract{
    font-size: 14px;
    color: #8D5CF6;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
}
.our{
   font-size: 40px;
   font-weight: 700;
   line-height: 50px;
   letter-spacing: 0.2px;
   line-height: 20px;
}
.prob{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
}
.marg{
    margin-top: 10px;
}
.row_bl2{
    flex-direction: row;
    display: flex;
}
.card1{
    margin: 70px 0px;
    margin-left: 199px;
    background-color: white;
    width: 180px;
    height: 242px;
    padding: 35px 40px;
    border-radius: 5px;
}
.img_bl2{
    border-radius: 10px;
}
.cont{
    font-size: 16px;
    color: #252B42;
    margin: 20px 0px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
}
.annot{
    font-size: 14px;
    color: #737373;
    margin-top: 20px;
    line-height: 20px;
    letter-spacing: 0.2px;
}
.card2{
    margin-top: 118px;
    margin-left: 39.5px;
    width: 180px;
    height: 242px;
    padding: 35px 40px;
    background-color: white;
    border-radius: 5px;
}
.card3{
    margin-top: 70px;
    margin-left: 40.5px;
    padding: 35px 40px;
    width: 180px;
    height: 242px;
    background: #8D5CF6;
    border-radius: 5px;
}
.card4{
    margin-top: 118px;
    margin-left: 40px;
    padding: 35px 40px;
    width: 180px;
    height: 242px;
    background-color: white;
    border-radius: 5px;
}
#white{
    color: white;
}

/* Block number 3 */

.background_bl3{
    background-color: #26335D;
    width: 1440px;
    height: 1096px;
    font-family: Montserrat;
}
.container_bl3{
    display: flex;
    flex-direction: column;
}
.row_bl3{
    flex-direction: row;
    display: flex;
    margin-top: 112px;
    margin-left: 195.5px;
}
.col1_bl3{
    display: flex;
    width: 238px;
    height: 602px;
    background-color: white;
    flex-direction: column;
}
.fixed_bl3{
    width: 238px;
    height: 300px;
    background-image: url("ascess/back_col1.png");
    background-color: #8D5CF6;
}
.sale_bl3{
    margin: 20px 20px;
    padding: 0px 10px;
    margin-right: 161px;
    background-color: #E74040;
    border-radius: 3px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
}
.prod_bl3{
    display: flex;
    width: 140px;
    height: 40px;
    flex-direction: row;
    margin-top: 192px;
    margin-left: 49px;
}
.img_bl3{
    margin-right: 10px;
    border-radius: 44.7857;
}
.title1_bl3{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-left: 25px;
    font-size: 14px;
    width: 182px;
    height: 26px;
    color: #8D5CF6;
    flex-wrap: nowrap;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
}
.valuation{
    display: flex;
    flex-direction: row;
    background-color: #26335D;
    margin-left: 64px;
    width: 50px;
    height: 20px;
    border-radius: 26px;
    padding: 5px;
    font-size: 12px;
    margin-top: -10px;
}
.txt1_bl3{
    margin: 0px 5px;
    padding-top: 5px;
    color: white;
}
.name1_bl3{
    color: #252B42;
    font-size: 16px;
    margin: 11px 25px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
}
.annot_bl3{
    margin-left: 25px;
    color: #737373;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
}
.sold1_bl3{
    display: flex;
    margin-left: 25px;
    margin-top: 10px;
    line-height: 24px;
    letter-spacing: 0.2px;
}
.sales1_bl3{
    margin-left: 10px;
    color: #737373;
    font-size: 14px;
    font-weight: 700;
}
.prise_bl3{
    display: flex;
    flex-direction: row;
    margin: 10px 25px;
    padding: 5px 3px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
}
.nostock{
    color: #BDBDBD;
    font-size: 16px;
    margin-right: 5px;
    font-weight: 700;
}
.stock{
    color: #FF7B52;
    font-size: 16px;
    font-weight: 700;
}
.but_bl3{
    display: flex;
    flex-direction: row;
    margin: 15px 25px;
    align-items: center;
    
}
.button_bl3{
    border-radius: 37px;
    border: 1px solid #8D5CF6;
    color: #8D5CF6;
    font-size: 14px;
    background-color: white;
    padding: 10px 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
}
.col2_bl3{
    display: flex;
    width: 238px;
    height: 602px;
    background-color: white;
    flex-direction: column;
    margin-left: 30px;
}
.title3_bl3{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-left: 25px;
    font-size: 14px;
    width: 126px;
    height: 24px;
    color: #8D5CF6;
    flex-wrap: nowrap;
    font-weight: 700;
}